body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #101010;
}
span{
    color: whitesmoke;
}

.header{
    margin-left: 42%;
    width:fit-content;
    text-align: center;
    background-color: #252525;
    
}

.beatbox{
    background-color: #301414;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
}

button{
    margin: 0.2em;
}